:root {
  --multi-attacked-color: rgb(255, 0, 0);
  --attacked-color: rgb(235, 137, 137);
  --queen-color: yellowgreen;
}

body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.color-selectors {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.color-selectors>div {
  margin-bottom: 10px;
}


.grid {
  width: 800px;
  height: 800px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}

.dragging {
  opacity: 0.4;
}

.square {
  border: 1px solid black;
}

.multi-attacked {
  background: var(--multi-attacked-color);
}

.attacked {
  background: var(--attacked-color);
}

.queen {
  background: var(--queen-color);
}